<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-step-by-step</title>
    <style>

    </style>
  </head>
  <body>
    <div id="root">
      <h2>All Tasks</h2>
      <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
      </ul>

      <h2>Incomplete Tasks</h2>
      <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <script type="text/javascript">
      var app = new Vue({
        el: '#root',
        data: {
          tasks: [
            { description: 'hoge', completed: false },
            { description: 'foo', completed: true },
            { description: 'bar', completed: false },
            { description: 'bazbaz', completed: false },
            { description: 'yaryar', completed: true }
          ]
        },
        computed: {
          incompleteTasks () {
            return this.tasks.filter(task => ! task.completed);
          }
        }
      });
    </script>
  </body>
</html>
